body {
    background-color: #F1F2F2;
    padding: 0 5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

div {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10%;

}

body > div {
    width: 95%;
    margin-bottom: 10%;
}

body div div {
    background-color: #7B77C9;
    border-bottom: 4px solid #666;
    border-radius: 5px 5px 0 0;
}

#movedown{
    background-color: #fff;
    border-bottom: none;
    border-radius: none;
    margin-top: 45px;
}

h1 {
    color: #fff;
    font-size: 2.2em;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

input {
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 8px;
}

h3 {
    color: #666;

}

#yourguess {
    color: #666;
    font-size: .85em;
    line-height: 0;
    margin-bottom: 20px;
    display: none;
}

#hotcold {
    display: none;
    color: #666;
}

#guess {
    font-size: .85em;
    background-color: #60C33F;
    border-top:solid 1px #60C33F;
    border-left:solid 1px #60C33F;
}

#restart:hover, #hint:hover {
    font-size: .75em;
    color: #fff;
    background-color: #DBE0E6;
    border-top: solid 1px #DBE0E6;
    border-left: solid 1px #DBE0E6;
    border-bottom: solid 1px #DBE0E6;
    border-right: solid 1px #DBE0E6;
}

#guess:hover {
    font-size: .85em;
    background-color: #50D125;
    border-top: solid 1px #50D125;
    border-left: solid 1px #50D125;
}

#hint {
    margin-right: -2px;
}

#restart {
    margin-left: -2px;
}

#hint, #restart {
    font-size: .75em;
    text-decoration: none;
    color: #B2B0B4;
    background-color: #E5EBF3;
    padding: 20px 20px;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    margin-bottom: 40px;
}

#guess {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: inset 0px 4px 0px #9e8d84, 0px 25px 0px 0px #322620, 0px 10px 5px #999;
}


@-webkit-keyframes blackWhite {
  0% { background-color: #7B77C9; }
  50% { background-color: #7B77C9; }
  51% { background-color: #FACA4F; }
  100% { background-color: #FACA4F; }
}

@-webkit-keyframes blackWhiteFade {
  0% { background-color: #7B77C9; }
  50% { background-color: #FACA4F; }
  100% { background-color: #7B77C9; }
}

.blinkdiv {
    border-radius: 5px 5px 0 0;
    background-color: #FACA4F;
  /*-webkit-animation-name: blackWhite;*/
   -webkit-animation-name: blackWhiteFade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.3s;
}


@media screen and (min-width: 480px){
    body > div {
    width: 90%;
    margin-bottom: 10%;
}

}

@media screen and (min-width: 755px){
    body > div {
    width: 55%;
    margin-bottom: 10%;
}

}
